<div class="banner">
    <div>
        <a href="{{ path('app_main') }}" data-turbo="false">
            <button class="banner_btn_glitch">
                Home
            </button>
        </a>
        <a href="{{ path('app_about') }}">
            <button class="banner_btn_glitch">
                About Me
            </button>
        </a>
        <a href="{{ path('app_projects') }}">
            <button class="banner_btn_glitch">
                Projects
            </button>
        </a>
    </div>
</div>
